<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Cleanliness -->
<script>
  const Cleanliness = document.getElementById('Cleanliness');

  new Chart(Cleanliness, {
    type: 'doughnut',
    data: {
      labels: ['Clean enough', 'Not clean enough'],
      datasets: [{
        label: 'Percentage',
        data: [70, 30],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!-- Satisfaction_security -->
<script>
  const Satisfaction_security = document.getElementById('Satisfaction_security');

  new Chart(Satisfaction_security, {
    type: 'doughnut',
    data: {
      labels: ['Satisfied', 'Neutral', 'Dissatisfied'],
      datasets: [{
        label: 'Percentage',
        data: [79, 14, 7],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!-- Transport  Reasons of dissatisfaction on transport system -->
<script>
  const Transport = document.getElementById('Transport');

  new Chart(Transport, {
    type: 'bar',
    data: {
      labels: ['Reckless driving', 'Unclean environment', 'Unprofessional staffs', 'Insecured system', 'High rent'],
      datasets: [{
        label: 'Percentage',
        data: [11, 8, 23, 31, 62],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!--Chart Reasons behind dissatisfaction on street food shop -->
<script>
  const street_food_dis = document.getElementById('street_food_dis');

  new Chart(street_food_dis, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: 'Percentage',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!--             Chart Expectation from street food shop  -->
<script>
  const street_food_e = document.getElementById('street_food_e');

  new Chart(street_food_e, {
    type: 'bar',
    data: {
      labels: ['Clean environment', 'Better place to sit', 'Professional behavior', 'Healthy food', 'Less time', 'Justified price'],
      datasets: [{
        label: 'Percentage',
        data: [8, 6, 25, 86, 11, 85],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!-- hotel_expectation -->
<script>
  const hotel_expectation = document.getElementById('hotel_expectation');

  new Chart(hotel_expectation, {
    type: 'bar',
    data: {
      labels: ['Safe environmennt', 'Good room service', 'Clean room', 'Timely order', 'Timely service', 'Good behavior'],
      datasets: [{
        label: 'Percentage',
        data: [66, 60, 58, 27, 54, 45],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!-- hotel-cost -->
<script>
  const hotel_cost = document.getElementById('hotel_cost');

  new Chart(hotel_cost, {
    type: 'bar',
    data: {
      labels: ['Very High', 'High', 'Expected', 'Less', 'Very Less'],
      datasets: [{
        label: 'Percentage',
        data: [9, 34, 53, 3, 1],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!-- Vacation package vpac -->
<script>
  const vpac = document.getElementById('vpac');

  new Chart(vpac, {
    type: 'bar',
    data: {
      labels: ['Hotel booking', 'Food facility', 'Bus/ Plane ticket', 'Internal transport', 'Tour guide', 'Photographer'],
      datasets: [{
        label: 'Percentage',
        data: [59, 55, 47, 31, 28, 13],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!-- Pie-1 -->
<script>
  const pie1 = document.getElementById('pie1');

  new Chart(pie1, {
    type: 'pie',
    data: {
      labels: ['Very Satisfied', 'Satisfied', 'Neutral', 'Dissatisfied', 'Very Dissatisfied'],
      datasets: [{
        label: 'Percentage',
        data: [2, 52, 16, 27, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!-- Pie2 -->
<script>
  const pie2 = document.getElementById('pie2');

  new Chart(pie2, {
    type: 'pie',
    data: {
      labels: ['Very Satisfied', 'Satisfied', 'Neutral', 'Dissatisfied', 'Very Dissatisfied'],
      datasets: [{
        label: 'Percentage',
        data: [2, 68, 20, 9, 1],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!-- Pie3 -->
<script>
  const pie3 = document.getElementById('pie3');

  new Chart(pie3, {
    type: 'pie',
    data: {
      labels: ['Very Satisfied', 'Satisfied', 'Neutral', 'Dissatisfied', 'Very Dissatisfied'],
      datasets: [{
        label: 'Percentage',
        data: [3, 73, 13, 11, 0],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!-- CBT Chart -->
<script>
  const cbt = document.getElementById('cbt');

  new Chart(cbt, {
    type: 'bar',
    data: {
      labels: ['Local Culture and Program', 'Local food and closed lifestyle', 'Natural beauty with local hill and river', 'Museum with local historical things', 'Security and help desk', 'Orange'],
      datasets: [{
        label: 'Percentage',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
