{% extends 'dash/base.html' %}
{% block content %}

<h1>Alhumdulillah</h1>
<br>

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ r.0|safe }} ,
      datasets: [{
        label: '# of Votes',
        data: {{ r.1|safe }},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<!-- {{ fig | safe }} -->

{% endblock %}